.dfx
.vessel
*.pem
.venv
registry.json
tokens.json
__pycache__
node_modules
backup/data/*
test/initArgs.did

# remove or comment out the lines below in your forked NFT collection repository
initArgs.did
canister_ids.json
assets/*
!assets/.ic-assets.json